
body{ background: lightskyblue ;
  font-size: 100%;
}
body{font-family: 'Libre Baskerville', serif;}

header h1,h2,h3 {
color:rgb(5, 5, 53) ;
}
p {
  color: black;
  font-size: 100%; 
}


article h2 {color: blueviolet;
}

.must-see {
  color:darkblue;                  
}

aside{
color: darkblue;
}

footer h2{
   color: darkblue;}
